<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="selctUsr" placeholder="Select user" (focus)="userSelect()">
        <ion-select-option value="admin">Admin</ion-select-option>
        <ion-select-option value="teacher">Teacher</ion-select-option>
        <ion-select-option value="parent">Parent</ion-select-option>
        <ion-select-option value="canteen">Canteen</ion-select-option>
        <ion-select-option value="student">Student</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list *ngIf="forStu">
      <ion-item>
        <ion-input type="text" [(ngModel)]="name" placeholder="Enter username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="id" placeholder="Enter Id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="age" placeholder="Enter age"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="fname" placeholder="Enter Father name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="fid" placeholder="Enter Father Id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="selctClass" placeholder="Select class">
          <ion-select-option *ngFor="let c of class" value="{{c.classId}}">{{c.className}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="forAll">
      <ion-item>
        <ion-input type="text" [(ngModel)]="name" placeholder="Enter username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="id" placeholder="Enter Id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="email" placeholder="Enter email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="phone" placeholder="Enter phone number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" [(ngModel)]="pass" placeholder="Enter password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" [(ngModel)]="cpass" placeholder="Enter re-password"></ion-input>
      </ion-item>
    </ion-list>
  </ion-list>
  <ion-button>Submit</ion-button>
</ion-content>